{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title %}Créer un Horaire{% endblock %}
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">



</head>
<body>
     <div class="container mt-4">
          <h1 class="mb-4">Créer un Horaire</h1>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }} <!-- Affiche le formulaire en utilisant le style par défaut de Django -->
              <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
          <a href="{% url 'liste_horaire' %}" class="btn btn-secondary mt-3">Retour à la liste</a>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
     
</body>
</html>
{% endblock %}



 

 
 